
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.highlight_link{
  stroke:red !important;
  stroke-width: 3;
  stroke-opacity: 1;
}

.default_link{
  stroke-opacity: 1;
}

#recommendation_box {
  z-index: 5 !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
  position: absolute;
  bottom:0;
  padding: 2em;
}

#tree{
  z-index: 3 !important;
}