
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tree-container{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.highlight_link{
  stroke:red !important;
  stroke-width: 3;
  stroke-opacity: 1;
}

.default_link{
  stroke-opacity: 1;
}